#search-box {
   position: absolute;
   top: 10px;
   left: 50%;
   transform: translateX(-50%);
   width: 90%;
   max-width: 400px;
   background: #fff;
   padding: 8px 15px;
   border-radius: 25px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
   z-index: 10;
}
#reset-location {
   position: fixed;
   bottom: 20px; /* 아래에서 20px */
   right: 20px;  /* 오른쪽에서 20px */
   z-index: 1000; /* 다른 요소 위에 보이도록 */
   padding: 10px 15px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 25px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.3);
   font-size: 14px;
   cursor: pointer;
}

#reset-location:hover {
   background-color: #f0f0f0;
}

#keyword {
   border: none;
   outline: none;
   flex: 1;
   font-size: 16px;
}

#search-box button {
   background: transparent;
   border: none;
   cursor: pointer;
   margin-left: 8px;
}

.category-filters {
   top: 70px;
   left: 50%;
   transform: translateX(-50%);
   position: fixed;
   width: 90%;
   max-width: 400px;
   display: flex;
   gap: 5px;
   overflow-x: auto;
   white-space: nowrap;
   z-index: 10;
}

.category-button {
   flex: 1 1 auto;
   min-width: 80px;
   padding: 8px 12px;
   font-size: 14px;
   font-weight: 500;
   border: none;
   border-radius: 20px;
   background-color: #F5F5F5;
   color: #333;
   cursor: pointer;
   transition: background-color 0.2s, transform 0.1s;
 }
 .category-button:hover {
   background-color: #f8d880;
   transform: translateY(-2px);
 }
.category-button.active {
   transform: translateY(0);
   background-color: #f5c542; /* 예: 베이지 계열 강조 색 */
   color: #454545;
 }
 
 .category-button.matcha {
   background-color: #F5F5F5;    /* 연녹색 계열 */
   color: #333;
 }
 .category-button.matcha.active {
   background-color: #40b363;
 }
 .category-button.ice {
   background-color: #F5F5F5;    /* 연녹색 계열 */
   color: #333;
 }
 
 .category-button.ice.active {
   background-color: #3791c5;
 }